*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

span{
    font-size: 15px;
    color: gray;
}

a{
    color: black;
    text-decoration: none;
}

aside{

    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 40px 10px;
    height: 100%;
    flex:1;
    /* background: linear-gradient(to left, rgba(229, 152, 102,0.4), rgba(229, 152, 102,0.2)); */
    background:rgba(246, 221, 204 );
    border-radius: 30px 0 0 30px;
    position: relative;
}

nav{

    /* flex: 3; */
    margin: 40px 40px;
    padding: 0 20px;
}

nav h1{
    margin: 20px 0;
    color:#CB4335;
}

nav ul{
    color: #EC7063;
}

ul{
    list-style: none;
}

li{
    margin:30px 0;
}

main{
    flex:3;
    display: flex;
    flex-direction: column;
}


footer{
    padding: 30px 0;
    border-top: 1px solid rgba(110,110,110, 0.3);
    display:flex;
    flex-direction: column;
    align-items: center;
}

.background{
    background-color: #dadbce;
    min-height: 1000px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    font-family: "Poppins", sans-serif;
}

.glass{
    margin: 50px 0;
    width: 90%;
    min-height: 950px;
    background: linear-gradient(to right top, rgba(255,255,255,0.8),  rgba(255,255,255,0.5 ));
    border-radius: 30px;
    border: 2px solid rgb(180, 175, 175,0.5);
    z-index: 2;
    backdrop-filter: blur(10px);
    box-shadow: 30px 30px 30px rgba(104, 104, 104, 0.253);
    display: flex;
    /* flex-direction: column; */
    /* justify-content:space-between; */
    /* align-items: center; */
    /* padding: 10px 20px; */
}



.logo{
    /* flex: 2; */
    background-image: url(../images/logo_profile_200.png);
    background-repeat: no-repeat;
    border-radius: 30px;
    width: 200px;
    height: 200px;
    margin:0 auto
}



.cate a{
      color:#CB4335;
      margin-left: 7px;
}




.contact{
    /* padding-top: 80px; */
    position: absolute;
    bottom: 5%;
    left: 25%;
    margin: 20px;
    /* flex:1; */
}

.contact a{
    /* position: absolute; */
    margin: 0 auto;
    background-color: rgba(247, 95, 95 ,0.8);
    border:none;
    border-radius: 10px;
    padding: 10px;
    font-weight:700;

}



.main-head{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid rgba(110,110,110, 0.3);
}

.search{
    height: 30px;
    width: 500px;
    background: rgba(255,255,255,0);
    border: none;
    border-radius: 10px;
    margin: auto 0;
}

.user{
    display: flex;
}

.user-ava img{
    align-items: center;
}

.user-info{
    padding: 0 10px;
}

.user-info .name{
    color:rgba(148, 49, 38);
    font-weight: 700;
}

.info{
    font-size: 10px;
    color: gray;
}

.main-body{
    padding: 40px 60px;
}

.body-head-left{
    display: flex;
    flex-direction: column;
}

.body-head-left img{
    height: 50px;
    width:220px;
}

.body-content{
    display: flex;
    justify-content: space-between;
        
}

.body-content article{
    display: flex;
    flex-direction: column;
    padding-right: 50px;
    padding-top: 50px;
}

.body-content article .portrail{
    margin: 20px 0;
}

.body-content article .works-info{
    padding:40px 0;
}

.works-info h2{
    color:#CB4335;
}

.works-info .works{
    margin-top: 30px;
}
.works-info .works .vid{
    display: flex;
    margin-bottom: 20px;
}

.vid .vid-info{
    padding-left:20px;
}

.vid .vid-info h4{
    color:#CB4335;
}

.vid .vid-info span{
    font-size:13px;
    line-height: 13px;
}


.body-content .side-bar table td{
    text-align: left;
}

.body-content .side-bar table th{
    text-align:left;
}

.navigate{
    align-items: center;
    margin: 0 auto;
    display: flex;
    font-size: 30px;

}

.navigate a{
    color:#CB4335;
}

.navigate .back{
    margin: 0 20px;
}

.navigate .next{
    margin: 0 20px;
}



footer .slogan{
    width:400px;
    text-align:center;
    padding: 20px;
    border-bottom: 3px solid gray;
    border-top: 3px solid gray;
}

footer .media{
    margin-top: 20px;
}

footer .media a{
    margin:10px;
}



.circle1, .circle2, .circle3{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    position: absolute;
}

.circle1{
    background: linear-gradient(to right bottom, #49DFE7, #DCEFF0);
    top:5%;
    right: 2%;
}


.circle2{
    background: linear-gradient(to right bottom, #F362C5, #DCEFF0);
    bottom: -15%;
    left: 20%;
}

.circle3{
    width: 200px;
    height: 200px;
    background: linear-gradient(to right bottom, #F6F85B, #DCEFF0);
    top: 10%;
    left: 20%;
}

@media only screen and (max-width: 1023px) and (min-width: 740px){

    .side-bar{
        display: none;
    }

    .main-head{
        width: 100%;
    }

    .main-head .search{
        width: 50%;
    }

    .main-head .user{
        /* margin-left: 10px; */
    }

    .main-head .user .name{
        font-size: 13px;
    }

    .main-head .user .info{
        font-size: 10px;
    }

    .main-body{
        padding: 20px;
    }

    .main-body .body-head{
        padding: 10px;
    }

    .main-body .body-head-left{
        display: flex;
        justify-content: center;
    }

    .main-body .body-head-left span{
        display: none;
    }

    .main-body .body-content{
        display: flex;
        /* flex-direction: column; */
        align-items: center;
    }

    .body-content article{
        padding-top: 0;
        padding-right: 0;
        align-items:center;
    }

    article img{
        width:300px;
        height: 200px;
    }

    article .text-content{
        width:90%;
    }


    .circle1{
        top:5%;
        right: 2%;
    }
    
    
    .circle2{
        background: linear-gradient(to right bottom, #F362C5, #DCEFF0);
        bottom: -100%;
        left: 20%;
    }
    
    .circle3{
        width: 200px;
        height: 200px;
        top: 10%;
        left: 0%;
    }

}

@media only screen and (min-width : 380px) and (max-width : 460px) {
    aside{
        /* flex:2; */
        border-radius: 0;
        width:30%;
        padding: 10px;
    }

    main{
        width: 100%;
    }

    nav{
        margin:0 auto;
        margin-top: 30px;
        padding:0;
        text-align: center;
    }

    iframe{
        display:none;
    }

    footer .slogan{
        /* padding:0 20px; */
        width: 60%;
        padding: 5px;
    }

    footer .media{
        margin-top:10px;
    }


    footer .media a img{
        width: 30px;
        height: 30px;
    }

    
    .contact{
        /* padding-top: 80px; */
        position: absolute;
        bottom: 5%;
        left: 5%;
        width: 80%;
        font-size: 12px;
        margin: 0 auto;
        /* flex:1; */
    }

    .main-body{
        padding:10px 20px;
    }

    .main-body .body-head-left{
        display: flex;
        justify-content: center;
    }
    .main-body .body-head .body-head-left span{
        display: none;
    }

    .main-body .body-head-left img{
        margin: 10px auto;
        height: 25px;
        width: 110px;
    }

    .main-head .search{
        width: 50%;
    }

    /* .body-head-left img{
        width: 200px;
        height: 100px;
    } */

    .body-content article{
        padding-top: 0;
        padding-right: 0;
    }

    .body-content article .text-content{
        font-size: 12px;
    }

    article img{
        width: 250px;
        height: 180px;  
    }

    .side-bar{
        display: none;
    }

    .contact{
        margin-left: 10px;
    }

    .vid .vid-info span{
        font-size:10px;
    }

    .glass{
        width: 100%;
        margin: 0;
        border: 0px;
        border-radius: 0;
    }

    .user{
        display: none;
    }

    .logo{
        margin-top: 30px;
        width: 70px;
        height: 70px;
    }

    .circle1, .circle2, .circle3{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: absolute;
    }
    
    .main-body{
        padding-right: 5px;
        padding-left: 5px;
    }
}


@media only screen and (min-width : 461px) and (max-width : 480px) {
    aside{
        /* flex:2; */
        border-radius: 0;
        width:30%;
        padding: 10px;
    }

    main{
        width: 100%;
    }

    nav{
        margin:0 auto;
        margin-top: 30px;
        padding:0;
        text-align: center;
    }

    iframe{
        display:none;
    }

    footer .slogan{
        /* padding:0 20px; */
        width: 60%;
        padding: 5px;
    }

    footer .media{
        margin-top:10px;
    }


    footer .media a img{
        width: 30px;
        height: 30px;
    }

    
    .contact{
        /* padding-top: 80px; */
        position: absolute;
        bottom: 5%;
        left: 5%;
        width: 80%;
        font-size: 12px;
        margin: 0 auto;
        /* flex:1; */
    }

    .main-body{
        padding:10px 20px;
    }

    .main-body .body-head-left{
        display: flex;
        justify-content: center;
    }
    .main-body .body-head .body-head-left span{
        display: none;
    }

    .main-body .body-head-left img{
        margin: 10px auto;
    }

    .main-head .search{
        width: 50%;
    }

    .body-content article{
        padding-top: 0;
        padding-right: 0;
    }

    .body-content article .text-content{
        font-size: 12px;
    }

    article img{
        width: 300px;
        height: 200px
    }

    .side-bar{
        display: none;
    }

    .vid .vid-info span{
        font-size:10px;
    }

    .glass{
        width: 100%;
        margin: 0;
        border: 0px;
        border-radius: 0;
    }

    .user{
        display: none;
    }

    .logo{
        margin-top: 30px;
        width: 70px;
        height: 70px;
    }

    .circle1, .circle2, .circle3{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: absolute;
    }

}
